.comments-card ul {
	margin-top: 1.5rem;
}
.comments-card li {
	list-style-type: none;
}
hr {
	border: 1px solid;
	border-color: rgb(240, 240, 240);
	margin-bottom: 1rem;
}
.comments-author {
	display: flex;
	flex: 1;
	align-items: center;
	font-size: 0.9rem;
	list-style-type: none;
	gap: 0.5rem;
	padding-left: 0.5rem;
}
.delete-comment {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
	padding: 0.2rem;
	margin-right: 1rem;
}
.delete-icon {
	font-size: 1.2rem;
	color: red;
	cursor: pointer;
}
.delete-comment p {
	color: red;
	padding: 0.4rem 0.5rem;
}

.deleted-card {
	margin: 10px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	transition: all 5s ease-in-out;
}

.deleted-card .close {
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.comments-details-wrapper {
	margin-top: 0.5rem;
	display: flex;
	margin-left: 1rem;
}
.comment-body {
	padding: 0.4rem 1rem;
	text-align: left;
	font-size: 0.9rem;
}
.comment-votes-wrapper {
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

.comment-votes-wrapper p {
	font-size: 0.9rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.4rem;
}
.comment-votes-icon,
.delete-icon {
	font-size: 1.2rem;
}

/* small */
@media screen and (min-width: 576px) {
	.comment-votes-icon,
	.delete-icon {
		font-size: 1.3rem;
	}
}

/* medium */

@media screen and (min-width: 768px) {
	.comment-votes-wrapper p {
		font-size: 1.1rem;
	}
	.comment-votes-icon,
	.delete-icon {
		font-size: 1.4rem;
	}
	.comment-body {
		padding: 0.4rem 1.5rem;
	}
	.comments-details-wrapper {
		margin-left: 1.5rem;
	}
}

/* large */

@media screen and (min-width: 992px) {
}
