.image-cropper {
	width: 2rem;
	height: 2rem;
	overflow: hidden;
	border-radius: 50%;
	border: 1px solid rgb(201, 201, 201);
}
.profile-img-avatar {
	margin-top: 5%;
	height: 90%;
}

/* small */
@media screen and (min-width: 576px) {
	.image-cropper {
		width: 2.2rem;
		height: 2.2rem;
	}
}

/* medium */

@media screen and (min-width: 768px) {
	.image-cropper {
		width: 2.4rem;
		height: 2.4rem;
	}
}
/* large */

@media screen and (min-width: 992px) {
	.image-cropper {
		width: 2.6rem;
		height: 2.6rem;
	}
}

/* extra large */

@media screen and (min-width: 1200px) {
	.image-cropper {
		width: 2.8rem;
		height: 2.8rem;
	}
}
