.single-article {
	height: 100%;
}

.single-article-card {
	list-style-type: none;
	margin: 0 5%;
	background-color: white;
	padding-left: 0 !important;
	padding-right: 0 !important;
	border-radius: 1.5rem;
}
.single-article-card,
.single-article-card h1 {
	padding: 0.4rem 1rem;
	line-height: 1.5rem;
	margin-top: 1.5rem;
}
.single-article-body {
	text-align: left;
	padding: 0.4rem 1rem;
	line-height: 1.3rem;
	font-size: 0.9rem;
}
.author {
	font-size: 0.9rem;
	margin-bottom: 1.5rem;
}

.single-article-interaction {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;
	gap: 2.5rem;
}
.single-article-topic {
	display: flex;
	justify-content: flex-end;
	margin-right: 1rem;
	margin-top: 0.5rem;
}
.single-article-topic p {
	letter-spacing: 0.5px;
	max-width: 50%;
	padding: 0.3rem 1rem;
	border: 1px solid #3b3b3b;
	color: #3b3b3b;
	border-radius: 2rem;
	line-height: 1rem;
}

.comment-icon {
	font-size: 1.2rem;
}
.single-article-comments {
	display: flex;
	align-items: center;
}
.single-article-comments p {
	font-size: 0.9rem;
	padding-left: 0.5rem;
}
.single-article-votes p {
	font-size: 0.9rem;
	padding: 0.5rem;
}
.posted-by {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
	font-size: 0.9rem;
}
.posted-by p {
	padding: 0.3rem;
}

/* extra small */

@media screen and (min-width: 320px) {
	.single-article-card h1 {
		font-size: 1.2rem;
		line-height: 1.5rem;
	}
}

/* small */
@media screen and (min-width: 576px) {
	.single-article-card h1 {
		font-size: 1.3rem;
		line-height: 1.6rem;
	}
	.single-article-card p {
		font-size: 1rem;
	}
	.single-article-body {
		padding: 0.4rem 1.5rem;
		line-height: 1.5rem;
	}
}

/* medium */

@media screen and (min-width: 768px) {
	.single-article-card {
		margin: 0 10%;
	}
	.single-article-card h1 {
		font-size: 1.5rem;
		line-height: 2rem;
	}
	.single-article-card p {
		font-size: 1rem;
	}
	.single-article-body {
		padding: 0.4rem 1.5rem;
		line-height: 1.5rem;
	}
	.single-article-comments p {
		font-size: 1.1rem;
	}
	.comment-icon {
		font-size: 1.4rem;
	}
}

/* large */

@media screen and (min-width: 992px) {
	.single-article-card {
		margin: 0 15%;
	}
	.single-article-card h1 {
		font-size: 1.6rem;
		line-height: 2.1rem;
	}
}

/* extra large */

@media screen and (min-width: 1200px) {
	.single-article-card h1 {
		font-size: 1.8rem;
		line-height: 2.3rem;
	}
	.single-article-card {
		margin: 0 30%;
	}
}
