main {
	margin-top: 4rem;
}

.single-article-body {
	height: 92vh;
}

.single-article-card {
	list-style-type: none;
	margin: 0 20%;
	background-color: white;
}
.single-article-card,
h1,
p {
	padding: 0.4rem 1rem;
	line-height: 1.5rem;
}
.single-article-card h1 {
	margin-top: 1.5rem;
}
.author {
	font-size: 0.9rem;
	margin-bottom: 1.5rem;
}

.thumbs-up-icon {
	width: 2em;
}

.single-article-interaction {
	display: flex;
	justify-content: center;
	margin: 1rem 0;
}
